.effect {
	&--animate {
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -35px 0 0 -35px;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			opacity: 0;
			background: rgba(#FFBB00, 0.2);
			animation: zoom-out 0.3s
		}
	}
}