.intro {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;

	&__body {
		position: absolute;
		width: 100%;
		min-height: 100%;
		display: flex;
		align-items: flex-end;
		text-align: center;
		padding: 7.5rem 0 3rem;
		z-index: 2;

		.btn {
			margin-bottom: 2rem;
		}
	}

	.img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		object-fit: cover;
	}
}