.swipe-agree {
	position: relative;
	overflow: hidden;
	text-align: center;

	&-body {
		margin-bottom: 1.5rem;
	}

	&-title {
		font-size: 1.8rem;
		color: #FFD12D;
	}

	&-desc {
		margin-bottom: 0;
	}

	&-slider {
		width: 100%;
		max-width: 25rem;
		margin: 0 auto;
		height: 5rem;
		position: relative;
	}

	&-lock {
		position: absolute;
		left: 0;
		top: 0;
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		background-color: #FFD12D;
		cursor: move;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;

		&::before {
			content: '';
			display: block;
			width: 2rem;
			height: 1.4rem;
			background: url('../../images/icons/arrow-right.svg') no-repeat center;
			background-size: cover;
		}
	}

	&-line {
		position: absolute;
		width: calc(100% - 10rem);
		height: 0;
		border-bottom: 1px dashed #fff;
		right: 5rem;
		top: 50%;
		transform: translateY(-50%);
	}

	&-text {
		position: absolute;
		right: 0;
		top: 0;
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		border: 1px solid #fff;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 1.1rem;
		font-weight: 700;
		line-height: 1.4;
		text-transform: uppercase;
	}
}