.auth {
	&-head {
		position: relative;
		margin-bottom: 2.5rem;

		.back {
			position: absolute;
			width: 3rem;
			height: 3rem;
			background-color: #FFD12D;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 0;
			outline: 0;
			border: 0;

			:focus {
				outline: 0;
			}

			&::before {
				content: '';
				display: block;
				width: 1.1rem;
				height: 8px;
				background: url('../../images/icons/arrow-back.svg') no-repeat center;
				background-size: cover;
			}
		}
	}

	&-title {
		font-weight: 700;
		font-size: 2rem;
		padding: 0 4.5rem;
		margin: 0 auto;
		text-align: center;

		span {
			display: block;
		}
	}

	&-foot {
		text-align: center;
	}
}

.login {
	&-body {
		margin-bottom: 2rem;
	}
	&-foot {
		text-align: center;
	}
}