.checkbox {
	position: relative;
	user-select: none;
	margin-bottom: 0.6rem;

	&--invalid {
		.checkbox {
			&__text {
				&::before {
					background-image: url('../../images/form/bg-checkbox-error.png');
				}
			}
		}
	}

	&__input {
		position: absolute;
		opacity: 0;
		z-index: -1;

		&:checked {
			+span {
				&::after {
					opacity: 1;
				}
			}
		}
	}

	&__text {
		position: relative;
		display: inline-flex;
		align-items: center;
		min-height: 2rem;
		padding-left: 4rem;
		cursor: pointer;
		font-size: 1.4rem;
		line-height: 1.15;
		color: #fff;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			transition: all 0.3s ease;
		}

		&::before {
			background-image: url('../../images/form/bg-checkbox.png');
			background-repeat: no-repeat;
			background-position: center;
			width: 3rem;
			height: 2.4rem;
		}

		&::after {
			content: '';
			width: 1.4rem;
			height: 8px;
			border-left: 0.2rem solid #fff;
			border-bottom: 0.2rem solid #fff;
			transform: rotate(-45deg);
			opacity: 0;
			top: 6px;
			left: 8px;
		}
	}
}