.field {
	position: relative;
	margin-bottom: 1.5rem;

	&::before {
		content: '';
		width: 1.2rem;
		height: 1.2rem;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		left: 1.2rem;
		top: 1.4rem;
	}

	&--valid {
		&::before {
			display: block;
			background-image: url('../../images/icons/success.svg');
		}
	}

	&--invalid {
		&::before {
			display: block;
			background-image: url('../../images/icons/warning.svg');
		}

		.field {
			&__control {
				&::before {
					background-image: url('../../images/form/bg-input-left-error.png');
				}

				&::after {
					background-image: url('../../images/form/bg-input-right-error.png');
				}
			}

			&__input {
				background-image: url('../../images/form/bg-input-center-error.png');
			}
		}
	}

	&__control {
		position: relative;
		width: 100%;
		height: 4rem;
		padding: 0 1.2rem;

		&::before,
		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 1.2rem;
			height: 4rem;
			background-repeat: no-repeat;
			background-position: left top;
			top: 0;
		}

		&::before {
			background-image: url('../../images/form/bg-input-left.png');
			left: 0;
		}

		&::after {
			right: 0;
			background-image: url('../../images/form/bg-input-right.png');
		}
	}

	&__input {
		width: 100%;
		height: 100%;
		border: 0;
		outline: 0;
		padding: 0.6rem 1.6rem;
		color: #fff;
		background-color: transparent;
		background-image: url('../../images/form/bg-input-center.png');
		background-repeat: repeat-x;
		background-position: center;

		&:focus {
			outline: 0;
		}
	}

	&__error {
		font-size: 1.4rem;
		line-height: 1.2;
		color: #FFD12D;
		padding-left: 1rem;
		font-style: italic;
		min-height: 1.7rem;
		display: block;
		margin-top: 5px;
	}
}